h1 {
    color: rgb(255, 0, 0);
}

h1 {
    
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    font-size: 35px;
    color: rgb(210, 20, 20);
}